@page "/ciudades"
@using SchoolControl.Shared;
@using SchoolControl.Client.Services;
@using CurrieTechnologies.Razor.SweetAlert2;

@inject SweetAlertService Swal;
@inject ICiudadServices CiudadServices;
<h3>Indice de Ciudades </h3>

@code {

}
