################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SchoolControlApp/.vs/SchoolControlApp/FileContentIndex/16a6e4e8-232b-42c3-a893-7487dac07fac.vsidx
