DJANGO_SECRET_KEY=change-me-before-deploy
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,web
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1,http://localhost:8025,http://127.0.0.1:8025,http://localhost:8026,http://127.0.0.1:8026

POSTGRES_DB=school_admin_lite
POSTGRES_USER=school_user
POSTGRES_PASSWORD=school_password

APP_PORT=8025
NGINX_PORT=8026
